.nd-search {    
    display: inline;
}

input {
    padding-left: 23px;
}

.fa-search {
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
    left: 8px;
    color: #7B7B7B;
    cursor: pointer;
    width: 0;
}

.fa-times {
    margin: 0;
    position: relative;    
    align-items: center;
    z-index: 1;
    left: -20px;
    color: #7B7B7B;
    cursor: pointer;
    width: 0;
}